@import '../../styles/colors.scss';

.searchContainer {
  display: flex;
  flex-direction: row-reverse;
  .counterContainer {
    margin-right: 15px;
    background-color: $blue;
    padding: 5px 14px;
    border-radius: 5px;
    span {
      color: $white;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .searchInput {
    width: 300px;
  }
}

.podcastList {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 100px 40px;
}
