@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  .episodeListContainer {
    margin-left: 70px;
    .episodeCounter {
      box-shadow: 5px 5px 10px rgba($grey, 0.5);
      padding: 10px 20px;
      margin-bottom: 20px;
      span {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .tableContainer {
      padding: 20px;
      box-shadow: 5px 5px 10px rgba($grey, 0.5);

      table {
        border-collapse: collapse;
        width: 700px;
      }

      .firstColumn {
        width: 60%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: $white;
        border-bottom: 2px solid rgba($lightGrey, 0.6);
      }

      tr:nth-child(even) {
        background-color: $white;
      }

      tr:nth-child(odd) {
        background-color: $mediumWhite;
      }

      tr:hover {
        background-color: $lightGrey;
        cursor: pointer;
      }

      td {
        color: $blue;
      }
    }
  }
}
